{% extends 'core/base.html' %}
{% load static %}
{% block title %}Actualizar página{% endblock %}
{% block content %}
{% include 'pages/includes/pages_menu.html'%}
<main role="main">
  <div class="container">
    <div class="row mt-3 mb-3">
      <div class="col-md-9 mx-auto">
        {% if 'ok' in request.GET %}
        <p style="color:green;">
          Página editada correctamente.
          <a href="{% url 'pages:page' page.id page.title|slugify %}">Haz click para ver el resultado</a>.
        </p>
        {% endif %}
            <form action="" method="post">{% csrf_token %}
                <table>
                    {{ form.as_p }}
                </table>
                <div style="text-center">
                  <input type="submit" class="btn btn-primary btn-block" value="Actualizar página" />
                </div
            </form>  
      </div>
    </div>
  </div>
</main>
{% endblock %}